<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Board</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/css/main.css" />
    <style>
        .uploadResult ul {
            display: flex;
            list-style: none;
        }

        .uploadResult ul li {
            position: relative;
        }

        .uploadResult ul li span {
            display: block;
            position: absolute;
            right: 10px;
            top: -25px;
            cursor: pointer;
            font-weight: bold;
            font-size: 1.5rem;
        }
        .field-errors{
            color: red;
        }
    </style>
</head>
<body class="is-preload">
<!-- Main -->
<div id="main">
    <div class="wrapper">
        <div class="inner">
            <!-- Elements -->
            <header class="major">
                <h1>Board</h1>
                <p>게시글 등록</p>
            </header>
            <!-- Table -->
            <h3><a class="list button small" th:href="@{/board/list}">목록 보기</a></h3>
            <div class="content">
                <div class="form">
                    <form method="post" th:action id="writeForm" th:object="${board}">
                        <div class="fields">
                            <div class="field">
                                <h4>제목</h4>
                                <input th:field="*{boardTitle}" placeholder="Title" type="text" class="form_control" th:errorclass="field-errors"/>
                                <div class="field-errors" th:errors="*{boardTitle}">Incorrect Title</div>
                            </div>
                            <div class="field">
                                <h4>내용</h4>
                                <textarea th:field="*{boardContent}" rows="6" placeholder="Content" style="resize:none" th:errorclass="field-errors"></textarea>
                                <div class="field-errors" th:errors="*{boardContent}">Incorrect Content</div>
                            </div>
                            <div class="field">
                                <h4>작성자</h4>
                                <input th:field="*{boardWriter}"  placeholder="Writer" type="text" th:errorclass="field-errors"/>
                                <div class="field-errors" th:errors="*{boardWriter}">Incorrect Writer</div>
                            </div>
                            <div><input type="checkbox" id="checkWriter">작성자 저장</div>
                        <ul class="actions special">
                            <li><input type="submit" class="button" value="등록"/></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- Scripts -->
<script src="/js/jquery-3.6.4.js"></script>
<script th:inline="javascript">

    function setCookie(cookieName, value, exdays){
        var exdate = new Date();
        exdate.setDate(exdate.getDate() + exdays);
        var cookieValue = escape(value) + ((exdays==null) ? "" : "; expires=" + exdate.toGMTString());
        document.cookie = cookieName + "=" + cookieValue;
    }

    function deleteCookie(cookieName){
        var expireDate = new Date();
        expireDate.setDate(expireDate.getDate() - 1);
        document.cookie = cookieName + "= " + "; expires=" + expireDate.toGMTString();
    }

    function getCookie(cookieName) {
        cookieName = cookieName + '=';
        var cookieData = document.cookie;
        var start = cookieData.indexOf(cookieName);
        var cookieValue = '';
        if(start != -1){
            start += cookieName.length;
            var end = cookieData.indexOf(';', start);
            if(end == -1)end = cookieData.length;
            cookieValue = cookieData.substring(start, end);
        }
        return unescape(cookieValue);
    }
    /*============================================================================================*/

    $(document).ready(function() {
        const $boardWriter = getCookie("boardWriter");
        $("input[name='boardWriter']").val($boardWriter);

        $("#checkWriter").change(function () {
            if ($("#checkWriter").is(":checked")) {  //checked true
                const $boardWriter = $("input[name='boardWriter']").val();
                setCookie("boardWriter", $boardWriter, 7); // 7일 동안 쿠키 보관
            } else { //checked false
                deleteCookie("boardWriter");
            }
        });

        $("input[name='boardWriter']").keyup(function(){
            if($("#checkWriter").is(":checked")){  //checked true
                const $boardWriter = $("input[name='boardWriter']").val();
                setCookie("boardWriter", $boardWriter, 7); // 7일 동안 쿠키 보관
            }
        });

    });


</script>
</html>

















